@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Inter:wght@300&display=swap');

body{
    /*background-image: url("img/background2.jpg");
    background-size: cover;*/
    background-color: #404040;
    margin: 0;
}

#banner{
    width: 800px;
}

h1{
    color: #BFBFBF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 13px;
}

#less{
    font-size: 25px;
    font-family: Impact;
}

form{
    font-family: 'Inter', sans-serif;
    background-color: #BFBFBF;
    width: 75%;
    height: 90px;
    padding-top: 15px;
    border-radius: 10px;
    color: #0D0D0D;
    text-align: center;
    margin: auto;
    margin-top: 58px;
}

#movieTitle{
    border-radius: 4px;
}

#results{
    /* background-color: #BFBFBF; */
    color: #fff;
    border-radius: 10px;
    width: 90%;
    margin: auto
}

a:link{
    color: white;
}

h2,h3,h4,p{
    font-family: 'Cantarell', sans-serif;
}

h2{
    padding: 15px 0 10px 10px;
}

h3{
    padding: 6px 0 0 10px;
}

h4{
    padding: 6px 0 0 10px;
}

p{
    margin: 0 10px 10px 17px;
    font-family: 'Inter', sans-serif;
}

.group{
    display: flex;
    flex-direction: column;
}

.item{
    margin: 10px;
    flex: 1;
}

.item-double{
    margin: 10px;
    flex: 1;
}

@media all and (min-width: 800px) {
    h1{
        font-size: 40px;
    }

    form{
        /*font-family: 'Inter', sans-serif;*/
        background-color: #BFBFBF;
        width: 500px;
        /*height: 90px;
        padding-top: 15px;
        border-radius: 10px;*/
        color: #0D0D0D;
        /*text-align: center;
        margin: auto;
        margin-top: 58px;
        margin: 58px 0 0 400px;*/
    }

    #results{
        color: #0D0D0D;
        background-color: #BFBFBF;
        /*border-radius: 10px;*/
        width: 1012px;
        /*margin: auto;*/
        /*padding: 4px 0 17px 17px;*/
        /*margin: 10px;*/
    }

    /* h2,h3,h4{
        font-family: 'Cantarell', sans-serif;
    } */

    /* h2{
        padding: 15px 0 10px 10px;
    }

    h3{
        padding: 6px 0 0 10px;
    }

    h4{
        padding: 6px 0 0 10px;
    }

    p{
        margin: 0 10px 10px 17px;
        font-family: 'Inter', sans-serif;
    } */

    .group{
        display: flex;
        flex-direction: row;
    }
    .item{
        margin: 10px;
        flex: 1;
    }

    .item-double{
        margin: 10px;
        flex: 1.5;
    }

    .container{
        position: relative;   
    }

    .top-left{
        position: absolute;
        top: 0;
        left: 0;
    }